<%= simple_form_for @user_story do |f| %>
  <div class="row">

    <div class="seven columns">
      <%= f.input :definition, input_html: {rows: 5} %>
      <div class="row">
        <div class="five columns">
          <%= f.input :story_points %>
        </div>
        <div class="five columns">
          <%= f.input :stakeholder %>
        </div>
        <div class="two columns">
          <%= f.label :cannot_be_estimated %>
          <%= f.input :cannot_be_estimated, as: :boolean, label: false %>
        </div>
      </div>
      <%= f.input :description, label: "Notes" %>
      <%= f.button :submit, class: 'large' %>
    </div>

    <div class="four columns">
      <h3>Acceptance Criteria</h3>
      <ol id="acceptance-criteria">
        <%= f.simple_fields_for :acceptance_criteria do |ac| %>
          <li>
          <%= ac.input :detail %>
          <% unless ac.object.new_record? %>
            <span class="remove">
              <%= ac.input '_destroy', label: "Remove", as: :boolean %>
            </span>
          <% end %>
          </li>
        <% end %>
      </ol>
      <p><%= link_to 'Add another', '#acceptance_criterium', :class => "add_nested_criterium", :rel => "acceptance_criteria" %></p>

      <h3>Tasks</h3>
      <ol id="tasks">
        <%= f.simple_fields_for :tasks do |tf| %>
          <li>
          <%= tf.input :definition %>
          <%= tf.input :description %>
          <%= tf.input :hours %>
          <% unless tf.object.new_record? %>
            <span class="remove">
              <%= tf.input '_destroy', label: "Remove", as: :boolean %>
            </span>
          <% end %>
          </li>
        <% end %>
      </ol>
      <p><%= link_to 'Add another', '#tasks', :class => "add_nested_task", :rel => "tasks" %></p>
    </div>

  </div>
<% end %>

