<div class="columns clearfix">

  <div class="column left">
    <div class="group">
      <%= us.label :definition, nil, :class => "label" %>
      <%= us.text_area :definition, :class => "text_area", :rows => 5 %>
      <span class="description">e.g. <strong class="hightlight">As a</strong> client <strong class="hightlight">I want</strong> reset forgotten password functionality <strong class="hightlight">so that</strong> ...</span>
    </div>
    
    <div class="group">
      <%= us.label :stakeholder, nil, :class => "label" %>
      <%= us.text_field :stakeholder, :class => "text_field" %>
    </div>
    
    <div class="developers">
      <div class="group">
        <%= us.label :story_points, nil, :class => "label" %>
        <%= us.text_field :story_points, :class => "text_field" %>
      </div>
      <div class="group">
        <div>
          <%= us.check_box :cannot_be_estimated, :class => "checkbox" %>
          <%= us.label :cannot_be_estimated, nil, :class => "checkbox" %>
        </div>
      </div>
    </div>
    
    <div class="group">
      <% if @controller.action_name == 'edit' || @controller.action_name == 'update'  %>
        <%= submit_tag "Save changes to user story" %>
      <% elsif @sprint %>
        <%= submit_tag "Add to task board" %>
      <% else %>
        <%= submit_tag "Add at start of backlog" %>
        <%= submit_tag "Add at end of backlog" %>
      <% end %> or <%= link_to "cancel", :controller => "backlog" %>
    </div>
  </div>

  <div class="column right">
    <div class="group">
      <%= us.label :description, "Notes", :class => "label" %>
      <%= us.text_area :description, :class => "text_area", :rows => 5 %>
      <span class="description">Useful information for the developer that will work on this user story</span>
    </div> 

    <div class="group columns clearfix">
      <label class="label">Themes:</label>
      <%= display_themes(account, user_story.themes) %>
    </div>

    <div class="group">
      <label for="additional_theme" class="label">New theme</label>
      <input type="text" id="additional_theme" name="additional_theme" class="text_field" />
    </div>
  </div>
</div>

