<% unless user_story.story_points %>
  <div id="modal-planning-poker" class="reveal-modal large" data-reveal>
    <div class="row">
      <div class="large-20 small-20 medium-20 columns">
        <h3>Planning Poker:</h3>
      </div>
      <div class="large-4 small-4 medium-4 columns text-right">
        <a class="close-reveal-modal">&#215;</a>
      </div>
    </div>
    <div class="row">
      <div class="large-4 small-4 medium-4teen columns">
        <%= simple_form_for [project, user_story], :html => {:id => 'form_estimate_story'}, :url => estimate_project_user_story_path(project, user_story), :remote => true do |f| %>
          <%= f.label :story_points, label: "Submit your estimate" %>
          <%= f.input :story_points, label: false, input_html: { placeholder: '0, 1, 3, 5, 8, 13, 20 ...' }, class: 'large-8 small-8 medium-8' %>
          <%= f.submit 'Submit estimate', :class => 'button' %>
        <% end %>
      </div>

      <div class="large-8 small-8 medium-8 columns" id="pp-estimates">
        <ul class="none" id="secret-estimates"></ul>
        <p id="average-estimate"></p>
        <a href="#" id="show-estimates">Reveal estimates</a>
      </div>

    </div>
  </div>

  <% content_for :custom_js do %>
    <%= render 'sse_planning_poker', :uid => @uid %>
    $('#show-estimates').click(function(e) {
    e.preventDefault();
    $('.secret-estimate').show();
    $('#average-estimate').show();
    });
  <% end %>
<% end %>
