<div class="row backlog-item backlog-row" data-story="<%= user_story.id %>" data-status="<%= user_story.state %>" id="<%= user_story.id %>">
  <div class="large-2 small-2 medium-2 columns">
    <%= check_box_tag "user_stories[]", user_story.id, false, id: "user_stories_delete_#{user_story.id}", class: "checkbox-delete-multiple" %>
    <%= link_to edit_project_user_story_path(@project, user_story) do %>
      #<%= user_story.id %>
    <% end %>
  </div>
  <div class="large-16 small-16 medium-16 columns">
    <%= show_story_points(user_story.story_points, :badge => true, :unit => "pts") %> <%= parse_definition(user_story.definition).html_safe %>
  </div>
  <div class="large-2 small-2 medium-2 columns show-for-large-up">
    <% if params[:global] == 'true' && user_story.sprint_id %>
      <%= link_to "View in Sprint", project_sprint_path(@project, user_story.sprint_id) %>
    <% else %>
      <%= user_story_state(user_story.state) %>
    <% end %>
  </div>
  <div class="large-2 small-2 medium-2 columns show-for-large-up">
    <%= show_stakeholder(user_story) %><br>
    <abbr class="timeago" title="<%= user_story.created_at.getutc.iso8601 %>">
      <%= user_story.created_at.to_s %>
    </abbr>
  </div>
  <div class="large-4 small-4 medium-4 columns show-for-medium-down">
    <%= show_stakeholder(user_story) %><br>
    <abbr class="timeago" title="<%= user_story.created_at.getutc.iso8601 %>">
      <%= user_story.created_at.to_s %>
    </abbr>
  </div>
  <div class="large-2 small-2 medium-2 columns hide-for-medium-down">
    <%= link_to 'Delete', project_user_story_path(@project, user_story), :method => :delete, data: {confirm: "Are you sure?"} %>
  </div>
</div>
