<div class="row backlog-item backlog-row" data-story="<%= user_story.id %>" data-status="<%= user_story.state %>" id="<%= user_story.id %>">
  <div class="two columns">
    <%= check_box_tag "user_stories[]", user_story.id, false, id: "user_stories_delete_#{user_story.id}" %>
    <%= link_to edit_project_user_story_path(@project, user_story) do %>
      #<%= user_story.id %>
    <% end %>
  </div>
  <div class="sixteen columns">
    <%= show_story_points(user_story.story_points, :badge => true, :unit => "pts") %> <%= parse_definition(user_story.definition).html_safe %>
  </div>
  <div class="two columns show-for-large-up">
    <% if params[:global] == 'true' && user_story.sprint_id %>
      <%= link_to "View in Sprint", project_sprint_path(@project, user_story.sprint_id) %>
    <% else %>
      <%= user_story_state(user_story.state) %>
    <% end %>
  </div>
  <div class="two columns show-for-large-up">
    <%= show_stakeholder(user_story) %><br><%= created_at_to_date(user_story) %>
  </div>
  <div class="four columns show-for-medium-down">
    <%= show_stakeholder(user_story) %><br><%= created_at_to_date(user_story) %>
  </div>
  <div class="two columns hide-for-medium-down" title="<%= time_ago_in_words(user_story.created_at) %> ago">
    <%= link_to 'Delete', project_user_story_path(@project, user_story), :method => :delete, :confirm => "Are you sure?" %>
  </div>
</div>
