<div class="row backlog-item" data-story=<%= user_story.id %> title="<%= user_story.definition %>">
  <div class="four columns">
    <%= link_to edit_project_user_story_path(@project, user_story) do %>
      <div class="row">
        <div class="twelve columns"><%= user_story_state(user_story.state) %></div>
        <div class="twelve columns">#<%= user_story.id %></div>
      </div>
    <% end %>
  </div>
  <div class="fourteen columns">
    <%= parse_definition(user_story.definition).html_safe %>
  </div>
  <div class="one columns">
    <%= link_to edit_project_user_story_path(@project, user_story) do %>
      <%= show_story_points(user_story.story_points, :badge => true, :unit => "") %>
    <% end %>
  </div>
  <div class="three columns">
    <%= show_stakeholder(user_story) %>
  </div>
  <div class="one columns hide-for-medium-down">
    <%= user_story.created_at.strftime("%d/%m/%y") %>
  </div>
  <div class="one columns hide-for-small">
    <%= link_to 'Delete', project_user_story_path(@project, user_story), :method => :delete, :confirm => "Are you sure?" if controller.action_name != 'plan' %>
  </div>
</div>
