<div class="row" class="backlog-item" data-story=<%= user_story.id %>>
  <hr class="narrow">
  <a href="/user_stories/<%= user_story.id %>/edit">
    <div class="one columns">
      <div class="row">
        <div class="six columns"><%= user_story_state(user_story.state) %></div>
        <div class="six columns"><span class="label round"><%= user_story.id %></span></div>
      </div>
    </div>
    <div class="ten columns"><%= user_story.definition %></div>
    <div class="one columns"><span class="label secondary round"><%= show_story_points(user_story.story_points, :unit => "") %></span></div>
  </a>
</div>
