<div id="main">
<h1>Add a user story</h1>
<%= error_messages_for :user_story %>
<% form_for :user_story, @user_story, :url => {:action => 'create_via_add'} do |@us| %>
	<label for="user_story_definition">Title:</label><%= @us.text_area :definition, :rows => 8 %>
	<label for="user_story_description">Notes:</label><%= @us.text_area :description %>
	<%= submit_tag "Add user story" %>
<% end %>
</div>
<div id="sidebar">
	<p><%= link_to "Back to backlog", :controller => 'backlog' %></p>
</div>