<div id="navii"><%= link_to "Back to backlog", :controller => 'backlog' %></div>
<div id="main" class="wide">
<h1>Add a user story</h1>
<%= error_messages_for :user_story %>
<% form_for :user_story, @user_story, :url => {:action => 'create'} do |us| %>

	<%= render :partial => 'form', :locals => {:account => @account, :us => us, :user_story => @user_story, :tags => @tags} %>
    <p>You will be able to add acceptance criteria after saving</p>
	<div id="usaddbuts">
		<%= submit_tag "Add at start of backlog" %>
		<%= submit_tag "Add at end of backlog" %>
	</div>
<% end %>
</div>