<div id="main">
  <div class="block">
    <%= render(:partial => "shared/navigation/backlog_secondary") %>

    <div class="content clearfix">
      <table class="table right">
        <tbody>
          <tr>
            <th scope="row">Stakeholder</th>
            <td><%= show_stakeholder(@user_story) %>
          </tr>
          <tr>
            <th scope="row">Points</th>
            <td><%= show_story_points(@user_story.story_points, :unit => "") %></td>
          </tr>
          <tr>
            <th scope="row">Themes</th>
            <td><%= show_themes(@user_story.themes) %></td>
          </tr>
          <tr>
            <th scope="row">Date</th>
            <td><%= show_date(@user_story.created_at) %></td>
          </tr>
          <tr>
            <th scope="row">Created</th>
            <td><%= show_user(@user_story) %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="title"><span class="highlight"><%= @user_story.id %></span> <%= h(@user_story.definition) %></h2>
      <div class="inner">
        <%= simple_format(@user_story.description) %>
      </div>
    </div>
  </div>

</div>

<div id="sidebar">
  <%= render :partial => 'show_acceptance_criteria', :locals => {:user_story => @user_story} %>
  <%= render :partial => 'show_tasks', :locals => {:user_story => @user_story} %>
</div>

<% unless params[:order] -%>
  <script type="text/javascript">
    setupBacklog();
  </script>
<% end -%>
