<div id="navii">
    <ul>
	<% if params[:sprint_id] && params[:from] %>
		<li><%= link_to "Back to task board", :controller => 'sprint' %></li>
	<% elsif params[:sprint_id] %>
		<li><%= link_to "Back to sprint planning", plan_sprint_path(:id => params[:sprint_id]) %></li>
	<% else -%>
		<li><%= link_to "Back to backlog", :controller => 'backlog' unless params[:from] == 'themes' %></li>
		<li><%= link_to "Back to themes", :controller => 'themes' if params[:from] == 'themes' %></li>
	<% end -%>
	<% if @current_user.is_a?(TeamMember) -%>
	    <li><%= link_to 'Edit', edit_user_story_path(:id => @user_story), :title => 'Edit' %></li>
	<% end -%>
	</ul>
	<div class="c">&nbsp;</div>
</div>
<div id="main">
	<div id="user_story">
		<h1><%=h @user_story.definition %></h1>
		<%= simple_format(@user_story.description) %>
		<h2>Story points:</h2>
		    <p><%=h show_story_points(@user_story.story_points) %></p>
		<h2>Themes:</h2>
		<% if @user_story.themes.blank? -%>
			<p>Not assigned to any themes</p>
		<% else -%>
		<ul>
			<% @user_story.themes.each do |t| -%>
				<li><%=h t.name %></li>
			<% end -%>
		</ul>
		<% end -%>
		<h2>Tags:</h2>
		<% if @user_story.tags.blank? -%>
		<p>No tags</p>
		<% else -%>
		<ul id="usshowtags">
		<% @user_story.tags.collect{|tag| tag.name}.each do |name| -%>
		    <li><%= link_to name, {:controller => 'backlog', :action => 'search', :q => name}, :method => :post %></li>
		<% end -%>
		</ul>
		<div class="c">&nbsp;</div>
		<% end -%>
		<h2>Stakeholder:</h2>
		<p><%= show_stakeholder(@user_story, false) %></p>
        <h2>Created:</h2>
        <p><%= show_date(@user_story.created_at) %> <%= show_user(@user_story) %></p>
	</div>
    <div class="c">&nbsp;</div>
</div>
<div id="sidebar">
    <%= render :partial => 'show_acceptance_criteria' %>
</div>
<div id="sidebar">
    <%= render :partial => 'show_tasks' %>
</div>
