<div class="group">
  <%= form.label :description, nil, :class => "label" %>
  <%= form.text_area :description, :class => "text_area", :rows => 5 %>
</div>

<div class="group">
  <% if @impediment.new_record?  %>
    <%= submit_tag "Create impediment" %>
  <% else %>
    <%= submit_tag "Save changes to impediment" %>
  <% end %>
  or <%= link_to "cancel", impediments_url %>
</div>

