<tr<%= impediment_complete?(impediment) %>>
  <td class="description"><%= h impediment.description %></td>
	<td class="reporter"><%= impediment.team_member ? impediment.team_member.name : "User unknown" %></td>
	<td><%= time_ago_in_words(impediment.created_at) %> ago</td>
	<td><%= show_resolved_at(impediment) %></td>
	<td class="actions"><%= link_to 'Delete', impediment_url(impediment), :method => :delete, :class => "button" if impediment.team_member == current_user && impediment.resolved_at == nil %></td>
</tr>

