<%= impediment_feed(controller.action_name) %>

<div id="main" class="wide">
  <div class="block">
    <%= render(:partial => "shared/navigation/impediments_secondary") %>

    <div class="content">
      <% unless @impediments.blank? %>
        <h2 class="title">Resolved :) <strong class="hightlight"><%= @resolved_count %></strong>. Unresolved :( <strong class="hightlight"><%= @unresolved_count %></strong>.</h2>
        <div class="inner">
          <table class="table">
            <tbody>
              <tr>
              <th class="description first">Description</th>
              <th class="reporter">Reporter</th>
              <th>Created</th>
              <th>Resolved</th>
              <th class="actions last"></th>
            </tr>
            <%= render @impediments %>
            </tbody>
          </table>
          <%= will_paginate @impediments %>
        </div>
      <% else %>
        <div class="inner">
          <div class="flash">
            <div class="message notice">
              <p>Hooray! There are no impediments for this project, but you can <%= link_to "create the first impediment", new_impediment_url %> : (.</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render(:partial => "shared/footer") %>
</div>

