<%= impediment_feed(controller.action_name) %>
<div id="navii"><ul><li><%= link_to "Add an impediment", new_impediment_path %></li></ul><div class="c">&nbsp;</div></div>
<div id="main" class="wide">
	<h1>Impediments:</h1>
	<ul><li><%= impediment_nav(controller.action_name) %></li></ul>
	<table id="impediments">
	  <thead>
	    <tr>
	      	<th>Description</th>
	      	<th>Reporter</th>
	      	<th>Created</th>
	      	<th>Resolved</th>
			    <th>Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @impediments.each do |impediment| -%>
		<tr<%= impediment_complete?(impediment) %>>
	      	<td><%=h impediment.description %></td>
			<td><%= impediment.team_member.name %></td>
			<td><%= time_ago_in_words(impediment.created_at) %> ago</td>
			<td><%= show_resolved_at(impediment) %></td>
			<td><%= link_to_if (impediment.team_member == @current_user && impediment.resolved_at == nil), 'Delete', impediment_path(:id => impediment), :method => :delete %></td>
		</tr>
		<% end -%>
	  </tbody>
	</table>
	<%= will_paginate @impediments %>
</div>