<div class="row">
  <div class="large-10 small-10 medium-10 columns">
    <h2>Editing <%= @person.name %>'s details</h2>
    <%= simple_form_for @person do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.button :submit, "Save" %>
    <% end %>
  </div>
</div>
