<div class="row">
  <div class="twentyfour columns">
    <% if current_user.account_holder? %>
      <p><%= link_to("Add user", new_person_path) %></p>
    <% end %>
    <% if @people.blank?%>
      <p>There are no people on this project. <%= link_to "Create the first user", new_user_url %>.</p>
    <% else %>
      <h2>Users</h2>
      <table class="twentyfour">
        <thead>
          <tr>
            <th>Gravatar</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @people %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"><%= pluralize(@people.active.count, 'active user') %></td>
            <td colspan="3"><%= pluralize(@people.inactive.count, 'inactive user') %></td>
        </tfoot>
      </table>
    <% end %>
  </div>
</div>
