<% content_for :title, "People - #{@project.name.humanize} - Agileista" %>

<div class="row">
  <div class="large-24 small-24 medium-24 columns">
    <p><%= link_to("Invite person", new_project_invitation_path, class: 'button') %></p>
    <% if @people.blank? %>
      <p>There are no people on this project. <%= link_to "Create the first person", new_user_url %>.</p>
    <% else %>
      <h2>People</h2>
      <table class="large-24 small-24 medium-24">
        <thead>
          <tr>
            <th>Gravatar</th>
            <th>Name</th>
            <th>Email</th>
            <th>Scrum Master</th>
            <th>Notify by Email</th>
            <th>Joined</th>
            <% if AccountStuff::TEAM_AGILEISTA.include?(current_person.email) %><th>Last logged in</th><% end %>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @people %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7"><%= pluralize(@people.count, 'active person') %></td>
          </tr>
        </tfoot>
      </table>
    <% end %>
  </div>
</div>

<h2>Pending invitations</h2>
<div class="row">
  <div class="large-12 small-12 medium-12 columns">
    <table class="large-24 small-24 medium-24">
      <thead>
        <tr>
          <th>Email</th>
          <th>Sent</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @invitations %>
      </tbody>
    </table>
  </div>
</div>
