<div id="info">
  <h2>Agileista is online collaboration for remote Scrum teams</h2>
  <ul>
    <li>Backlog management</li>
    <li>Sprint planning</li>
    <li>Impediment logging</li>
    <li>Velocity calculations and horizon planning</li>
    <li>Realtime task board updates</li>
    <li>Support for pair programming</li>
    <li>Sprint burnup and burndowns</li>
  </ul>
</div>

<div id="box">
  <div class="block" id="block-signup">
    <h2 class="clearfix">Signup</h2>
    <div class="content signup">
    <ul class="errorExplanation">
      <% @account.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
      <%= form_tag('/signup', :method => 'post', :class => "form signup") %>
        <div class="group clearfix">
          <div class="left">
            <label for="account_name" class="label right">Account name</label>

          </div>
          <div class="right">
            <%= text_field :account, :name, :class => "text_field" %>
          </div>
        </div>

        <div class="group clearfix">
          <div class="left">
            <label for="account_subdomain" class="label right">Site address</label>
          </div>
          <div class="right">
            <%= text_field :account, :subdomain, :class => 'nowrap' %>.<%= AccountStuff::DOMAIN %>
          </div>
        </div>

        <div class="group clearfix">
          <div class="left">
            <label for="user_name" class="label right">Your name</label>
          </div>
          <div class="right">
            <%= text_field :user, :name %>
          </div>
        </div>

        <ul class="errorExplanation">
          <% @user.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
        <div class="group clearfix">
          <div class="left">
            <label for="user_name" class="label right">Your email</label>
          </div>
          <div class="right">
            <%= text_field :user, :email %>
          </div>
        </div>
        
        
        <div class="group clearfix">
          <div class="left">
            <label for="user_password" class="label right">Password</label>
          </div>
          <div class="right">
            <%= password_field :user, :password %>
          </div>
        </div>

        <div class="group clearfix">
          <div class="left">
            <label for="user_password_confirmation" class="label right">Confirm your password</label>
          </div>
          <div class="right">
            <%= password_field :user, :password_confirmation %>
          </div>
        </div>

        <div class="group navform clearfix">
          <div class="right">
            <%= submit_tag "Create account", :class => 'button' %>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
