<div class="row">
  <div class="span6">

    <h1>Signup</h1>

    <ul class="errorExplanation">
      <% @account.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>

    <%= form_tag('/signup', :method => 'post', :class => "form-horizontal") %>
      <div class="control-group">
        <label for="user_name" class="control-label">Your name</label>
        <div class="controls">
          <%= text_field :user, :name, :required => true %>
        </div>
      </div>

      <ul class="errorExplanation">
        <% @user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>

      <div class="control-group">
        <label for="user_email" class="control-label">Your email</label>
        <div class="controls">
          <%= text_field :user, :email, :required => true %>
        </div>
      </div>

      <div class="control-group">
        <label for="user_password" class="control-label">Password</label>
        <div class="controls">
          <%= password_field :user, :password, :required => true %>
        </div>
      </div>

      <div class="control-group">
        <label for="user_password_confirmation" class="control-label">Confirm your password</label>
        <div class="controls">
          <%= password_field :user, :password_confirmation, :required => true %>
        </div>
      </div>

      <div class="control-group">
        <label for="account_name" class="control-label">Account name</label>

        <div class="controls">
          <%= text_field :account, :name, :required => true %>
        </div>
      </div>

      <div class="control-group">
        <label for="account_subdomain" class="control-label">Site address</label>
        <div class="controls">
          <div class="input-append">
            <%= text_field :account, :subdomain, :required => true %>
            <span class="add-on">.<%= AccountStuff::DOMAIN %></span>
          </div>
        </div>
      </div>


      <div class="control-group">
        <div class="controls">
          <%= button_tag "Create account", :class => 'btn btn-info' %>
        </div>
      </div>
    </form>
  </div>
  <div class="span6">
    <ul>
      <li class="lead">Backlog management</li>
      <li class="lead">Sprint planning</li>
      <li class="lead">Impediment logging</li>
      <li class="lead">Velocity calculations and horizon planning</li>
      <li class="lead">Realtime task board updates</li>
      <li class="lead">Pair programming support</li>
      <li class="lead">Sprint burnup and burndowns</li>
    </ul>
  </div><!--/span-->
</div>
