<div class="row">
  <div class="twelve columns offset-by-one">

    <h1>Signup</h1>

    <ul class="errorExplanation">
      <% @account.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>


    <%= simple_form_for @account, :url => signup_path, :method => :post do |a| %>
      <fieldset>
        <div class="row">
          <div class="sixteen columns">
            <%= a.input :account_holder_email, label: 'Your email' %>
            <%= a.input :name, label: 'Account name' %>
            <%= a.label :subdomain, 'Site address' %>
            <div class="row collapse">
              <div class="eighteen mobile-three columns">
                <%= a.input :subdomain, label: false %>
              </div>
              <div class="six mobile-one columns">
                <span class="postfix">.<%= AccountStuff::DOMAIN %></span>
              </div>
            </div>
            <%= button_tag "Create account", :class => 'button large' %>
          </div>
        </div>
      </fieldset>
    <% end %>

  </div>

  <div class="eight columns">
    <ul>
      <li>Backlog management</li>
      <li>Sprint planning</li>
      <li>Impediment logging</li>
      <li>Velocity calculations and horizon planning</li>
      <li>Realtime task board updates</li>
      <li>Pair programming support</li>
      <li>Sprint burnup and burndowns</li>
    </ul>
  </div>
</div>
