<div class="group">
  <%= form.label :name, nil, :class => "label" %>
  <%= form.text_field :name, :class => "text_field" %>
</div>

<div class="group">
  <%= form.label :description, nil, :class => "label" %>
  <%= form.text_area :description, :class => "text_area", :rows => 5 %>
</div>

<div class="group">
  <% if @theme.new_record?  %>
    <%= submit_tag "Create theme" %> or <%= link_to "cancel", themes_url %>
  <% else %>
    <%= submit_tag "Save changes to theme" %> or <%= link_to "cancel", themes_url(:anchor => @theme.name.gsub(/\W/, "")) %>
  <% end %>
</div>

