<h2 class="title" id="<%= theme.name.gsub(/\W/, "") %>">
  <span class="tab"><%= "#{theme.position}. #{theme.name}" %> <%= link_to("Edit", edit_theme_url(theme), :class => "button") %></span>
  <span class="hightlight"><strong><%= show_story_points(theme.story_points_left, :unit => "") %></strong> out of <strong><%= show_story_points(theme.story_points, :unit => "") %></strong> story points to be done</span>
</h2>

<div class="inner">
  <% unless theme.user_stories.blank? %>
    <table class="table">
      <tbody>
        <tr>
          <th class="state">State</th>
          <th class="id">ID</th>
          <th class="description">Description</th>
          <th class="points">Points</th>
          <th>Stakeholder</th>
          <th class="actions last"></th>
        </tr>
        <%= render :partial => "user_story", :collection => theme.user_stories %>
        <% reset_cycle("user_stories")%>
      </tbody>
    </table>
  <% else %>
    <div class="flash">
      <div class="message notice">
        <p>There are no user stories for this theme, <%= link_to "add new user story", new_theme_user_story_url(theme) %>.<p>
      </div>
    </div>
  <% end %>

  <%= content_tag(:p, h(theme.description), :class => "first") unless theme.description.blank? %>

  <a href="#agileista">Back to top</a>
</div>

