<div id="main">
  <div class="block">
    <%= render(:partial => "shared/navigation/themes_secondary") %>

    <div class="content">
      <% unless @themes.blank? %>
        <%= render @themes %>
      <% else %>
        <div class="inner">
          <div class="flash">
            <div class="message notice">
              <p>There are no themes defined, please <%= link_to "create a theme", new_theme_url %>.</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render(:partial => "shared/footer") %>
</div>

<% unless @themes.blank? %>
<div id="sidebar">
  <div class="block">
    <h3>Themes overview</h3>
    <ol class="navigation">
      <%= render :partial => "theme_sidebar", :collection => @themes %>
    </ol>
  </div>
</div>
<% end %>

<% content_for :custom_js do %>
  setupThemes();
<% end %>
