<tr class="<%= user.authenticated? ? "active" : "inactive" %><%= " account_holder" if user.account_holder? %>">
  <td class="id"><%= image_tag user.gravatar_url(:rating => 'G', :size => 40, :default => asset_path('default_avatar.png')) %></td>
  <td class="description"><%= user.name %></td>
  <td class="email"><%= link_to user.email, "mailto:#{user.email}" %></td>
  <td class="date"><%= show_date(user.created_at) %></td>
	<td class="actions">
    <%= link_to 'Inactive', {:controller => 'account', :action => 'resend_authentication', :id => user}, :class => "tiny button success", :method => :post if !user.authenticated? && current_user.account_holder? %>
    <%= link_to 'Edit', {:controller => 'users', :action => 'edit', :id => user.id}, :class => "tiny button" if current_user.account_holder? || user == current_user %>
    <%= link_to 'Delete', {:controller => 'users', :action => 'destroy', :id => user.id}, :class => "tiny button alert", :method => :post, :confirm => "Are you sure?" if current_user.can_delete_users? || current_user.account_holder? %>
  </td>
</tr>

