<tr class="<%= user.authenticated? ? "active" : "inactive" %><%= " account_holder" if user.account_holder? %>">
	<td class="id"><%= image_tag user.gravatar_url(:size => 25) %></td>
  <td class="description"><%= user.name %></td>
  <td class="date"><%= show_date(user.created_at) %></td>
  <td class="date"><%= user.type %></td>
	<td class="actions">
    <%= link_to 'Inactive', {:controller => 'account', :action => 'resend_authentication', :id => user}, :class => "button", :method => :post if !user.authenticated? && current_user.account_holder? %>
    <%= link_to 'Edit', {:controller => 'users', :action => 'edit', :id => user}, :class => "button" if current_user.account_holder? || user == current_user %>
    <%= link_to 'Delete', {:controller => 'users', :action => 'delete', :id => user}, :class => "button", :method => :post, :confirm => "Are you sure?" if current_user.can_delete_users? || current_user.account_holder? %>
  </td>
</tr>

