<div id="main">
  <div class="block">
    <%= render(:partial => "shared/navigation/account_secondary") %>
    <div class="content">
      <h2 class="title">Invite a new user to your account</h2>
      <div class="inner form">
        <div class="columns clearfix">
          <div class="column left">
            <% if @person.errors.size > 0 %>
              <div class="block notice errors">
                <ul class="errorExplanation">
                  <% @person.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          <%= form_for @person, :url => {:action => 'create'}, :html => {:class => "form"} do |p| %>
            <div class="group">
              <label for="person_name" class="label">Name: </label>
              <%= p.text_field :name, :class => "text_field" %>
            </div>
            <div class="group">
              <label for="person_email" class="label">Email: </label>
              <%= p.text_field :email, :class => "text_field" %>
            </div>
            <div class="group">
              <%= submit_tag "Send invitation" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
