<div id="main">
  <div class="block">
    <%= render(:partial => "shared/navigation/account_secondary") %>
    <div class="content">
      <h2 class="title">Invite a new user to your account</h2>
      <div class="inner form">
        <div class="columns clearfix">
          <div class="column left">
          <%= error_messages_for :person %>
          <% form_for :person, @person, :url => {:action => 'create'}, :html => {:class => "form"} do |p| %>
            <div class="group">
              <label for="person_name" class="label">Name: </label>
              <%= p.text_field :name, :class => "text_field" %>
            </div>
            <div class="group">
              <label for="person_email" class="label">Email: </label>
              <%= p.text_field :email, :class => "text_field" %>
            </div>
            <div class="group">
              <label for="team_member" class="label">Team member</label><input type="radio" name="type" value="team_member" checked="checked" />
              <label for="contributor" class="label">Contributor</label><input type="radio" name="type" value="contributor" />
            </div>
            <div class="group">
              <%= submit_tag "Send invitation" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>