<div id="velocity_chart" style="width:76%;height:200px;"></div> 
<% content_for :custom_js do %>
$(function () {
  var average = {shadowSize: 0,  data: [[<%= @sprints.finished.statistically_significant(@account).first.end_at.to_time.to_i * 1000 %>, <%= @velocity %>], [<%= @sprints.finished.statistically_significant(@account).last.end_at.to_time.to_i * 1000 %>, <%= @velocity %>]] , label: "Average Velocity" };
  var velocity = {shadowSize: 0, color: "#7A1818", data: <%= @sprints.finished.statistically_significant(@account).map{ |s| [s.end_at.to_time.to_i * 1000, s.calculated_velocity] }.inspect.html_safe %>, label: "Velocity", points: {show: true}, lines: {show: true} };
  $.plot($("#velocity_chart"), [velocity, average], { xaxis: {mode: "time"}});
});
<% end %>

