<div id="chart" class="hide-for-small"></div>

<% content_for :custom_js do %>
  <% relevant_sprints = sprints.finished.statistically_significant(project) %>
  <% if relevant_sprints.any? %>
    var data = <%= relevant_sprints.map{|s| {end_at: s.end_at.iso8601, velocity: s.calculated_velocity}}.to_json.html_safe %>;
    var average = [{"end_at": "<%= relevant_sprints.first.end_at.iso8601 %>", "velocity": <%= velocity %>}, {"end_at": "<%= relevant_sprints.last.end_at.iso8601 %>", "velocity": <%= velocity %>}];
    AgileistaGraphs.drawVelocity(data, average);
  <% end %>
<% end %>
