<div id="velocity_chart" style="width:76%;height:200px;" class="chart"></div>
<% content_for :custom_js do %>
  <% if @sprints.finished.statistically_significant(@project).any? %>
    $(function () {
      var average = {shadowSize: 0, data: [[<%= @sprints.finished.statistically_significant(@project).first.end_at.to_time.to_i * 1000 %>, <%= @velocity %>], [<%= @sprints.finished.statistically_significant(@project).last.end_at.to_time.to_i * 1000 %>, <%= @velocity %>]] , label: "Average Velocity" };
      var velocity = {color: "#7A1818", data: <%= @sprints.finished.statistically_significant(@project).map{ |s| [s.end_at.to_time.to_i * 1000, s.calculated_velocity] }.inspect.html_safe %>, label: "Velocity", points: {show: true}, lines: {show: true} };
      $.plot($("#velocity_chart"), [velocity, average], { xaxis: {mode: "time"}});
    });
  <% end %>
<% end %>

