<tr class="<%= cycle('odd', 'even') + identify_key_sprint(sprint) %>">
  <td class="name"><%= link_to h(sprint.name), sprint_url(sprint) %></td>
  <td class="description"><%= h sprint.goal %></td>
  <td class="points"><%= sprint.total_story_points %></td>
  <td class="points"><%= sprint.completed_story_points %></td>
  <td class="date"><%= show_date(sprint.start_at) %></td>
  <td class="date"><%= show_date(sprint.end_at) %></td>
  <td class="actions">
    <%= link_to 'Show', sprint_url(sprint), :class => 'button' %>
    <% if current_user.is_a?(TeamMember) && !sprint.finished? %>
		  <%= link_to 'Edit', edit_sprint_url(sprint), :class => 'button' %>
		  <%= link_to 'Plan', plan_sprint_url(sprint), :class => 'button' %>
    <% end %>
</td>
</tr>

