var update = function(data){
  var task_card = $('#task_card_' + data.task_id);
  var container = task_card.parent();
  updateTaskCard(container, task_card, data.task_hours, data.task_devs, data.performed_by, '<%= current_user.name %>');
  notifyUser(data, "<%= current_user.name %>");
  var us_card = $('div.user-story[data-story="' + data.user_story_id + '"]');
  us_card.attr('data-status', data.user_story_status);
  setupTaskBoardStats();
};

var source = new EventSource('<%= EVENT_SOURCE %>/subscribe/<%= uid %>');

source.addEventListener('message', function (event) {
  var parsedData = JSON.parse(event.data);
  if (parsedData.refresh === true && '<%= escape_javascript current_user.name %>' !== parsedData.performed_by) {
    $('.js-temporary-alert').remove();
    $('<div class="alert-box alert hide-for-small js-temporary-alert">Task Board updated. Please <%= link_to 'refresh', project_sprint_path(@project, @sprint) %>.</div>').prependTo($('#main-wrapper-div'));
  } else {
    update(parsedData);
  }
}, false);
