<div class="notecard defined" id="com_<%= task_card.id %>" title="<%=h task_card.user_story.definition %>">
<h2>#<%= positions[task_card.user_story.id].to_s + '.' + task_card.position.to_s %></h2>
<%=h task_card.definition %><br />
<strong><%= show_assignee(task_card.developer) %></strong>
<% unless @current_user.is_a?(Contributor) -%>
<p><% form_for :task, task, :url => task_path(:id => task_card), :html => {:method => :put} do |f| %><%= text_field_tag('task_hours', task_card.hours, :size => 3, :class => 'tasksave') %> <%= submit_tag 'Save', :class => 'tasksave' %><% end %></p><div class="tasklinks"><%= link_to 'View', :controller => 'user_stories', :action => 'show_task', :id => task_card.user_story, :task_id => task_card, :from => 'tb' %> <%= link_to 'Edit', :controller => 'user_stories', :action => 'edit_task', :id => task_card.user_story, :task_id => task_card, :from => 'tb' %></div>
<% end -%>
</div>