<div class="row">
  <div class="twentyfour columns">

    <div class="rw-backlog-item" data-status="<%= user_story_review.status %>" data-story="<%= user_story_review.id %>" data-points="<%= user_story_review.story_points %>">

      <div class="row">
        <div class="three columns">
          <p>#<%= user_story_review.id %> <%= show_story_points(user_story_review.story_points, :badge => true) %></p>
        </div>

        <div class="sixteen columns">
          <h4 class=""><%= parse_definition(user_story_review.definition).html_safe %></h4>
        </div>

        <div class="text-right five columns hide-for-small">
          <strong>Stakeholder:</strong> <%= show_stakeholder(user_story_review) %> <span class="hide-for-medium-down"><strong>Created:</strong> <%= user_story_review.created_at.strftime("%d/%m/%y") %></span>
        </div>
      </div>

      <div class="row">
        <div class="sixteen offset-by-three columns">
          <h5 class="">Acceptance Criteria:</h5>
          <% user_story_review.acceptance_criteria.each do |ac| %>
            <%= simple_form_for [@project, user_story_review, ac], remote: true do |f| %>
              <%= f.input :done, label: ac.detail, input_html: {name: "acceptance_criterium_#{ac.id}[done]", id: "acceptance_criterium_#{ac.id}_done", class: "js-acceptance-criteria-done"} %>
            <% end %>
          <% end %>
        </div>

        <div class="five columns text-right">
          <%= link_to "Copy to Backlog", copy_project_user_story_path(@project, user_story_review), :method => :post, :confirm => 'Are you sure?' %>
        </div>
      </div>

    </div>

  </div>
</div>
