<tr id="user_story_container_<%= user_story.id %>">
  <td class="name">
    <%= render :partial => 'user_stories/user_story', :locals => {:sprint => sprint, :user_story => user_story, :tasks => true} %>
  </td>
  <td class="tasks incomplete" id="incomplete_<%= user_story.id %>">
    <%= render :partial => 'sprints/task_card', :collection => user_story.tasks.incomplete, :locals => {:sprint => sprint, :user_story => user_story, :claim => true} %>
  </td>
  <td class="tasks inprogress" id="inprogress_<%= user_story.id %>">
    <%= render :partial => 'sprints/task_card', :collection => user_story.tasks.inprogress, :locals => {:sprint => sprint, :user_story => user_story, :claim => true} %>
  </td>
  <td class="tasks complete" id="complete_<%= user_story.id %>">
    <%= render :partial => 'sprints/task_card', :collection => user_story.tasks.complete, :locals => {:sprint => sprint, :user_story => user_story, :claim => false} %>
  </td>
</tr>

<% unless current_user.is_a?(Contributor) || sprint.finished? %>
  <% content_for :custom_js do %>
  <script type="text/javascript" charset="utf-8">
    setupTaskBoard(<%= user_story.id %>);
  </script>
  <% end %>
<% end %>
