<div class="row alert-box secondary backlog-item" data-status="<%= user_story.status %>" data-story="<%= user_story.id %>">
  <div class="twentyfour columns">
    <div class="row">
      <p>
        <%= user_story_state(user_story.state) %>
        <span class="label round"><%= user_story.id %></span>
        <span class="label secondary round points"><%= show_story_points(user_story.story_points, :unit => "") %></span>
      </p>
      <p>
        <%= link_to user_story.definition, edit_user_story_path(user_story) %>
      </p>
    </div>
  </div>
</div>
