<div id="item_<%= user_story.id %>" class="defined userstory" title="<%=h user_story.definition %>">
  <h2>#<%= count %></h2>
  <%=h truncate(user_story.definition, :length => 80) %><span class="user_story_points"><%= show_story_points(user_story.story_points) %></span>
  <% if sprint -%><%= link_to 'Show', sprint_user_story_path(sprint, user_story, :from => from), :title => 'Show' %> <%= link_to 'Edit', edit_sprint_user_story_path(sprint, user_story, :from => from), :title => 'Edit' if current_user.is_a?(TeamMember) %><% else -%><%= link_to 'Show', user_story_path(user_story, :from => from), :title => 'Show' %> <%= link_to 'Edit', user_story_path(user_story, :from => from), :title => 'Edit' if current_user.is_a?(TeamMember) %><% end -%> <%= link_to 'Add tasks', new_user_story_task_path(:user_story_id => user_story, :from => 'tb'), :title => "Add tasks" if from == 'tb' %><span class="cardcreator">see <%= show_stakeholder(user_story) %></span>
</div>