<%= render :partial => 'subnav' %>
<div id="main" class="wide">
	<h1>Sprints:</h1>
	<table id="sprints">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>From</th>
	      <th>To</th>
	      <th>Story points (Completed)</th>
	      <th>Hours left</th>
	      <th></th>
		  <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @sprints.each do |sprint| -%>
		<tr <%= identify_key_sprint(sprint) %>>
	      <td><%=h sprint.name %></td>
	      <td><%= show_date(sprint.start_at) %></td>
	      <td><%= show_date(sprint.end_at) %></td>
	      <td><%= sprint.user_stories.sum('story_points') %> <strong><%= "(#{sprint.calculated_velocity})" %></strong></td>
	      <td><%= sprint.hours_left %></td>
	      <td>
	          <%= link_to 'Show', sprint_path(:id => sprint), :title => 'Show' %>
	          <% if current_user.is_a?(TeamMember) -%>
    			<%= link_to 'Plan', plan_sprint_path(:id => sprint), :title => 'Plan' unless sprint.finished? %>
    			<%= link_to 'Edit', edit_sprint_path(:id => sprint), :title => 'Edit' unless sprint.finished? %>
    			<%= link_to 'Delete', sprint_path(:id => sprint), :method => :delete, :confirm => "This cannot be undone. Are you sure?", :title => 'Delete' unless sprint.finished? %>
			  <% end -%>
		  </td>
		  <td><%= "Current sprint" if sprint.current? %><%= "Next sprint" if sprint.upcoming? %></td>
	    </tr>
	    <% end %>
	  </tbody>
	  <tfoot>
      <tr>
        <th colspan="6"></th>
        <th>Velocity: <%= @account.calculated_velocity %></th>
      </tr>
	  </tfoot>
	</table>
</div>