<div id="main" class="wide">
  <div class="block">
    <%= render(:partial => "shared/navigation/sprints_secondary") %>

    <div class="content">
      <% unless @sprints.blank? %>
        <h2 class="title">Total: <strong class="hightlight"><%= @sprints.size %></strong>. Finished: <strong class="hightlight"><%= @sprints.finished.size %></strong>. Average velocity: <strong class="hightlight"><%= average_velocity(@account) %></strong>.</h2>
        <div class="inner">
          <table class="table">
            <tbody>
              <tr>
              <th class="first">Name</th>
              <th class="description">Description</th>
              <th class="points">Points</th>
              <th class="points">Velocity</th>
              <th class="date">From</th>
              <th class="date">To</th>
              <th class="actions last"></th>
            </tr>
            <%= render @sprints %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="inner">
          <div class="flash">
            <div class="message notice">
              <p>There are no sprints for this project, <%= link_to "create your first sprint", new_sprint_url %>.</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render(:partial => "shared/footer") %>
</div>

