<%= render :partial => "shared/velocity_chart", :locals => {:flot_points => @flot_points} %>
<% unless @sprints.blank? %>
  <div class="row">
    <div class="columns twentyfour">
      <h2><small>Total:</small> <%= @sprints.size %>. <small>Finished:</small> <%= @sprints.finished.size %>. <small>Average velocity:</small> <%= average_velocity(@project) %></h2>
    </div>
  </div>
  <div class="row">
    <div class="columns twentyfour">
      <p><strong>90%</strong> likelihood velocity will be between <strong><%= @cint_lo %></strong> and <strong><%= @cint_hi %></strong>*</p>
    </div>
  </div>
  <table class="twentyfour">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Points</th>
        <th>Velocity</th>
        <th>From</th>
        <th>To</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @sprints %>
    </tbody>
  </table>
  <p><span class="highlight">*stats based on sprints since <strong><%= show_date(Velocity.stats_significant_since(@project).to_time) %></strong></span></p>
<% else %>
  <p>There are no sprints for this project, <%= link_to "create your first sprint", new_project_sprint_path(@project) %>.</p>
<% end %>
