<div id="main" class="wide">
  <div class="block">
    <%= render(:partial => "shared/navigation/sprints_secondary") %>

    <div class="content">
      <h2 class="title">Planning <strong><%= @sprint.name %></strong> <span class="hightlight"><strong><span id="points_planned"><%= show_story_points(@sprint.user_stories.sum('story_points')) %></span></strong> and <strong><span id="hours_left"><%= show_story_points(@sprint.hours_left, :unit => "hour") %></span></strong> planned</span> <%= image_tag "ajax-loader.gif", :style => "display:none", :id => "loading" %></h2>
      <div class="inner clearfix">
        <div id="estimated" class="clearfix left">
          <h3>Estimated user stories:</h3>
          <% @account.user_stories.estimated.each do |user_story| %>
            <%= render :partial => '/user_stories/user_story', :locals => {:user_story => user_story} %>
          <% end %>
        </div>
    
        <div id="committed" class="clearfix right">
          <h3 class="tab"><%= @sprint.name %></h3>
          <% @sprint.user_stories.each do |user_story| %>
            <%= render :partial => '/user_stories/user_story', :locals => {:sprint => @sprint, :user_story => user_story, :tasks => !@sprint.finished?, :copy => @sprint.finished? && !user_story.complete?} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render(:partial => "shared/footer") %>
</div>

<% unless current_user.is_a?(Contributor) || @sprint.finished? -%>
  <% content_for :custom_js do %>
    <script type="text/javascript" charset="utf-8">
      setupSprintPlanning(<%= @sprint.id %>);
    </script>
  <% end %>
<% end -%>
