<h2><%= @sprint.name %>: <span id="points_planned"><%= show_story_points(@sprint.user_stories.sum('story_points')) %></span> <small>and</small> <span id="hours_left"><%= show_story_points(@sprint.hours_left, :unit => "hour") %></span> <small>planned</small> <%= image_tag "ajax-loader.gif", :style => "display:none", :id => "loading" %></h2>
<div id="estimated" class="eleven columns">
  <h3>Estimated user stories:</h3>
  <% @project.user_stories.estimated.each do |user_story| %>
    <%= render :partial => '/user_stories/user_story', :locals => {:sprint => @sprint, :user_story => user_story, :tasks => !@sprint.finished?, :copy => @sprint.finished? && !user_story.complete?} %>
  <% end %>
</div>

<div id="committed" class="eleven columns">
  <h3 class="tab"><%= @sprint.name %></h3>
  <% @sprint.user_stories.each do |user_story| %>
    <%= render :partial => '/user_stories/user_story', :locals => {:sprint => @sprint, :user_story => user_story, :tasks => !@sprint.finished?, :copy => @sprint.finished? && !user_story.complete?} %>
  <% end %>
</div>

<% unless @sprint.finished? -%>
  <% content_for :custom_js do %>
    setupSprintPlanning(<%= @project.id %>, <%= @sprint.id %>);
  <% end %>
<% end -%>
