<% content_for :title, "Review - #{@sprint.name} - #{@project.name.humanize} - Agileista" %>

<div class="panel burn-panel hide-for-small">
  <div class="row">
    <div class="large-24 small-24 medium-24 columns">
      <div class="row">
        <div class="large-18 small-18 medium-18 columns">
          <h2>Review: <%= sprint_header(@sprint) %></h2>
          <h4>Sprint goal: <%= @sprint.goal %></h4>
          <%= render "shared/burn_charts", chart_data: @chart_data, sprint: @sprint %>
        </div>

        <div class="large-6 small-6 medium-6 columns hide-on-print">
          <div class="row">
            <div class="large-24 small-24 medium-24 columns">
              <%= render 'filters' %>
            </div>
          </div>

          <div class="row">
            <div class="large-24 small-24 medium-24 columns">
              <div class="progress large-24 small-24 medium-24" id="progress-bar">
                <span class="meter"></span>
                <p><span id="current_complete"></span>/<span id="current_total"><%= @sprint.total_story_points %></span> story points completed (<span id="current_percentage"></span>)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns large-24 small-24 medium-24">
    <%= render partial: 'user_story_review', collection: @sprint.user_stories %>
  </div>
</div>

<% content_for :custom_js do %>
  setupTaskBoardStats();
  $(document).ready(function(){
    $('.ctrl-show-stories').each(function() {
      var whichCheckBox = $(this).val();
      var whatState = $(this).is(':checked');
      Agileista.toggleStoriesByStatus(whichCheckBox, whatState);
    });
  });
<% end %>
