<% content_for :title, "Review - #{@sprint.name} - #{@project.name.humanize} - Agileista" %>

<div class="row">
  <div class="twentyfour columns">
    <div class="row">
      <div class="eighteen columns">
        <h2>Review: <%= sprint_header(@sprint) %></h2>
        <h4>Sprint goal: <%= @sprint.goal %></h4>
        <%= render :partial => "shared/burn_charts" %>
      </div>

      <div class="six columns hide-on-print">
        <div class="row">
          <div class="twentyfour columns">
            <%= render 'filters' %>
          </div>
        </div>

        <div class="row">
          <div class="twentyfour columns">
            <div class="progress twentyfour" id="progress-bar">
              <span class="meter"></span>
              <p><span id="current_complete"></span>/<span id="current_total"><%= @sprint.total_story_points %></span> story points completed (<span id="current_percentage"></span>)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns twentyfour">
    <%= render :partial => 'user_story_review', :collection => @sprint.user_stories, :locals => {:sprint => @sprint} %>
  </div>
</div>

<% content_for :custom_js do %>
  setupTaskBoardStats();
  $(document).ready(function(){
    $('.ctrl-show-stories').each(function() {
      var whichCheckBox = $(this).val();
      var whatState = $(this).is(':checked');
      Agileista.toggleStoriesByStatus(whichCheckBox, whatState);
    });
  });
<% end %>
