<div id="main" class="wide">
  <div class="block">
    <%= render(:partial => "shared/navigation/sprints_secondary") %>

    <div class="content">
      <%= render :partial => "shared/burn_charts", :locals => {:flot_points => @flot_points} %>
      <h2 class="title"><%= sprint_header(@sprint, :show_date? => true, :show_story_points? => true) %></h2>
      <div class="inner">
        <table class="table">
          <tbody>
            <tr>
              <th>User story</th>
              <th>Incomplete</th>
              <th>In progress</th>
              <th>Complete</th>
            </tr>
          <%= render :partial => 'user_story', :collection => @sprint.user_stories, :locals => {:sprint => @sprint, :from => 'sprints'} %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <%= render(:partial => "shared/footer") %>
</div>

<% content_for :custom_js do %>
  <%= render :partial => 'juggernaut', :locals => {:uid => @uid} %>
<% end %>

