<div class="row">

  <div class="eighteen columns">
    <ul class="accordion hide-for-small">
      <li>
      <div class="title">
        <div class="row">
          <div class="twentyfour columns">
            <h3><%= sprint_header(@sprint) %></h3>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="twentyfour columns">
            <%= render :partial => "shared/burn_charts", :locals => {:flot_points => @flot_points} %>
          </div>
        </div>

        <hr>

        <div class="row">

          <div class="ten columns">
            <div class="progress twentyfour radius" id="progress-bar">
              <span class="meter"></span>
            </div>
          </div>

          <div class="fourteen columns">
            <p><strong><span id="current_complete"></span>/<span id="current_total"><%= @sprint.total_story_points %></span> story points completed (<span id="current_percentage"></span>)</strong></p>
          </div>
        </div>

      </div>
      </li>
    </ul>
  </div>

  <div class="six columns">
    <%= link_to 'Hide completed stories', '#', :id => 'togglecomplete', :class => 'button secondary small radius' %>
    <span id="completed_user_stories_hidden" class="hide highlight">Completed user stories are hidden</span>
  </div>

</div>

<div class="row tb-header">
  <div class="eight columns">
    <h4 class="hide-for-small subheader">Incomplete:</h4>
  </div>
  <div class="eight columns">
    <h4 class="hide-for-small subheader">In progress:</h4>
  </div>
  <div class="eight columns">
    <h4 class="hide-for-small subheader">Complete:</h4>
  </div>
</div>

<div class="row">
  <div class="columns twentyfour">
    <%= render :partial => 'user_story', :collection => @sprint.user_stories, :locals => {:sprint => @sprint, :from => 'task_board'} %>
  </div>
</div>

<% content_for :custom_js do %>
  setupTaskBoardStats();
  <%= render :partial => 'juggernaut', :locals => {:uid => @uid} unless @sprint.finished? %>
<% end %>

