<% content_for :title, "Task Board - #{@sprint.name} - #{@project.name.humanize} - Agileista" %>

<%= render :partial => 'sprint_alerts', locals: {sprint: @sprint} %>

<div class="row hide-for-small">
  <div class="eighteen columns">
    <ul class="accordion">
      <li>
        <div class="title">
          <div class="row">
            <div class="twentyfour columns">
              <h3><%= sprint_header(@sprint) %></h3>
              <h4>Sprint goal: <small><%= @sprint.goal %></small></h4>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="row">
            <div class="twentyfour columns">
              <%= render :partial => "shared/burn_charts" %>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="six columns hide-on-print">
    <div class="row">
      <div class="twentyfour columns">
        <%= render 'filters' %>
      </div>
    </div>

    <div class="row">
      <div class="twentyfour columns">
        <div class="progress twentyfour" id="progress-bar">
          <span class="meter"></span>
          <p><span id="current_complete"></span>/<span id="current_total"><%= @sprint.total_story_points %></span> story points completed (<span id="current_percentage"></span>)</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row tb-header">
  <div class="eight columns">
    <h4 class="hide-for-small subheader">Available:</h4>
  </div>
  <div class="eight columns">
    <h4 class="hide-for-small subheader">In progress:</h4>
  </div>
  <div class="eight columns">
    <h4 class="hide-for-small subheader">Complete:</h4>
  </div>
</div>

<%= render :partial => 'user_story', :collection => @sprint.user_stories, :locals => {:sprint => @sprint, :from => 'task_board'} %>

<% content_for :custom_js do %>
  setupTaskBoardStats();
  $(document).ready(function(){
    $('.ctrl-show-stories').each(function() {
      var whichCheckBox = $(this).val();
      var whatState = $(this).is(':checked');
      Agileista.toggleStoriesByStatus(whichCheckBox, whatState);
    });
  });
  <%= render :partial => 'sse', :locals => {:uid => @uid} unless @sprint.finished? %>
<% end %>

