<div class="row">
  <div class="eighteen columns">
    <ul class="accordion hide-for-small">
      <li>
      <div class="title">
        <div class="row">
          <div class="twentyfour columns">
            <h3><%= sprint_header(@sprint) %></h3>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="twentyfour columns">
            <%= render :partial => "shared/burn_charts" %>
          </div>
        </div>

        <hr>

        <div class="row">

          <div class="ten columns">
            <div class="progress twentyfour radius" id="progress-bar">
              <span class="meter"></span>
            </div>
          </div>

          <div class="fourteen columns">
            <p><strong><span id="current_complete"></span>/<span id="current_total"><%= @sprint.total_story_points %></span> story points completed (<span id="current_percentage"></span>)</strong></p>
          </div>
        </div>

      </div>
      </li>
    </ul>
  </div>

  <div class="six columns">
    <label for="show-stories-incomplete" class="filter-incomplete">
      <input class="ctrl-show-stories" type="checkbox" value="incomplete" name="show-stories[incomplete]" id="show-stories-incomplete" checked="checked">
      Available <span class="js-incomplete-story-points"></span>
    </label>
    <label for="show-stories-inprogress" class="filter-inprogress">
      <input class="ctrl-show-stories" type="checkbox" value="inprogress" name="show-stories[inprogress]" id="show-stories-inprogress" checked="checked">
      In progress <span class="js-inprogress-story-points"></span>
    </label>
    <label for="show-stories-complete" class="filter-complete">
      <input class="ctrl-show-stories" type="checkbox" value="complete" name="show-stories[complete]" id="show-stories-complete" checked="checked">
      Complete <span class="js-complete-story-points"></span>
    </label>
  </div>

</div>

<div class="row tb-header">
  <div class="eight columns">
    <h4 class="hide-for-small subheader">Available:</h4>
  </div>
  <div class="eight columns">
    <h4 class="hide-for-small subheader">In progress:</h4>
  </div>
  <div class="eight columns">
    <h4 class="hide-for-small subheader">Complete:</h4>
  </div>
</div>

<%= render :partial => 'user_story', :collection => @sprint.user_stories, :locals => {:sprint => @sprint, :from => 'task_board'} %>

<% content_for :custom_js do %>
  setupTaskBoardStats();
  <%= render :partial => 'juggernaut', :locals => {:uid => @uid} unless @sprint.finished? %>
<% end %>

