<%= render :partial => "shared/burn_charts", :locals => {:flot_points => @flot_points} %>
<h2 class="title"><%= sprint_header(@sprint) %> <%= image_tag "ajax-loader.gif", :style => "display:none", :id => "loading" %></h2>
<div class="progress six radius" id="progress-bar">
  <span class="meter"></span>
</div>

<table class="twelve bland">
  <thead>
    <tr>
      <th class="three">User story</th>
      <th class="three">Incomplete</th>
      <th class="three">In progress</th>
      <th class="three">Complete <%= link_to 'hide completed stories', '#', :id => 'togglecomplete', :class => 'redbutton' %></th>
    </tr>
  </thead>
    <tr id="completed_user_stories_hidden" style="display:none">
      <td colspan="4">Completed user stories are hidden...</td>
    </tr>
  <tbody>
    <%= render :partial => 'user_story', :collection => @sprint.user_stories, :locals => {:sprint => @sprint, :from => 'task_board'} %>
  </tbody>
</table>

<% content_for :custom_js do %>
  setupTaskBoardStats();
  <%= render :partial => 'juggernaut', :locals => {:uid => @uid} %>
<% end %>

