<div id="main" class="wide">
  <div class="block">

    <div class="content">
      <%= render :partial => "shared/burn_charts", :locals => {:flot_points => @flot_points} %>
      <h2 class="title"><%= sprint_header(@sprint, :buttons => [:add_story], :show_total_story_points_only? => true) %> <%= image_tag "ajax-loader.gif", :style => "display:none", :id => "loading" %></h2>
      

      <div class="inner">
        <table class="table">
          <tbody>
            <tr>
              <th>User story</th>
              <th>Incomplete</th>
              <th>In progress</th>
              <th>Complete</th>
            </tr>
          <%= render :partial => 'user_story', :collection => @sprint.user_stories, :locals => {:sprint => @sprint, :from => 'task_board'} %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <%= render(:partial => "shared/footer") %>
</div>
