<div id="navii"><% if current_user.is_a?(TeamMember) %><%= link_to "Add story to sprint", new_sprint_user_story_url(@sprint) %><% end -%></div>

<div id="main" class="wide">
    <h1><%= sprint_header(@sprint) %></h1>
    <% count = 0 -%>
    <% first = true %>
    <% user_story_positions = {} -%>
    <div id="thewall">
      <% @sprint.user_stories.each do |user_story| -%>
        <% count += 1 %>
        <% user_story_positions[user_story.id] = count %>
        <%= render :partial => 'user_story_container', :locals => {:user_story => user_story, :count => count, :user_story_positions => user_story_positions, :first => first, :sprint => @sprint, :from => 'tb'} %>
        <% first = false -%>
        <hr />
        <% unless current_user.is_a?(Contributor) -%>
          <script type="text/javascript" charset="utf-8">
            setupTaskBoard(<%= user_story.id %>);
          </script>
        <% end -%>
      <% end -%>
    </div>
    <%= @chart %>
</div>
