<div id="main" class="wide">
  <div class="block">

    <div class="content">
      <div id="burndown"></div>

      <h2 class="title"><%= sprint_header(@sprint, :buttons => [:add_story]) %></h2>

      <div class="inner">
        <table class="table">
          <tbody>
            <tr>
              <th>User story</th>
              <th>Incomplete</th>
              <th>In progress</th>
              <th>Complete</th>
            </tr>
          <%= render :partial => 'user_story', :collection => @sprint.user_stories, :locals => {:sprint => @sprint, :from => 'task_board'} %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <%= render(:partial => "shared/footer") %>
</div>

<% content_for :custom_js do %>
<script type="text/javascript" charset="utf-8">
  FCLOUD.Charts.burndown(<%= @burndown_labels.inspect %>, <%= @burndown_data.inspect %>);
</script>
<% end %>

