<div class="row">
  <div class="columns six end">
    <h2>Project Settings</h2>
    <%= simple_form_for @project do |f| %>
      <p><%= f.input :name %></p>
      <p><%= f.input :iteration_length, as: :select, collection: [["1 week", 1], ["2 weeks", 2], ["3 weeks", 3], ["4 weeks", 4]] %></p>
      <%= f.button :submit %>
    <% end %>

    <hr>

    <%= form_tag({:controller => 'account', :action => 'generate_api_key'}, {:class => 'form'}) %>
      <label>Api Key</label>
      <p><%= current_user.api_key || "No api key" %></p>
      <%= button_tag "Generate Api Key", :class => 'button' %>
    </form>

    <hr>

    <%= link_to "Delete project", project_path(@project), :method => :delete, :confirm => 'Are you sure? This cannot be recovered from.', :class => 'button tiny alert' %>
  </div>
</div>

<div class="row">
  <div class="columns six end">
    <h2>HipChat Integration</h2>
    <%= simple_form_for [@project, @hip_chat_integration] do |f| %>
      <%= f.input :token %>
      <%= f.input :room %>
      <%= f.input :notify %>
      <br>
      <%= f.button :submit, "Save HipChat Settings" %>
    <% end %>
  </div>
</div>
