<div class="secondary-navigation account clearfix">
  <ul>
    <li class="settings first"><%= link_to "Settings", :controller => "account", :action => "settings" %></li>
    <li class="index"><%= link_to "All users", users_url %></li>
    <%= content_tag(:li, link_to("Add user", new_user_url), :class => "add") if current_user.account_holder? %>
    <% if @person && !@person.new_record? %>
    <li class="edit"><%= link_to 'Edit', edit_user_url(@person) %></li>
    <%= content_tag(:li, link_to("Delete", user_url(@person), :method => :delete, :confirm => confirmation_message("user", @person.name), :class => "delete")) if current_user.account_holder? && current_user != @person %>
    <% end %>
  </ul>
</div>

