<div class="secondary-navigation backlog clearfix">
  <ul>
    <li class="index first"><%= link_to "All user stories", :controller => "backlog" %></li>
    <li class="add"><%= add_user_story %></li>
    <% if @user_story && !@user_story.new_record? %>
    <li class="edit"><%= link_to 'Edit', edit_user_story_url(@user_story) %></li>
    <li class="delete"><%= link_to("Delete", user_story_url(@user_story), :method => :delete, :confirm => confirmation_message("user story", @user_story.id)) %></li>
    <% end %>
    <%= content_tag(:li, link_to("Back to task board", sprint_url(params[:sprint_id]))) if params[:from] == 'tb' %>
    <%= content_tag(:li, link_to("Back to themes", themes_path)) if params[:from] == 'themes' %>
    <%= content_tag(:li, link_to("Back to sprint planning", plan_sprint_url(:id => params[:sprint_id]))) if params[:from] == 'plan' %>
    <%= content_tag(:li, link_to("Export backlog as csv", backlog_url(:format => 'csv'), { :alt => "export", :title => "export" })) if params[:controller] == "backlog" %>
    <% if params[:controller] == "backlog" && params[:action] == "index" %>
      <% if cookies[:backlog] == "grid" %>
        <li class="change_view last"><%= link_to image_tag("icons/16x16/3x3_grid_bk.png"), backlog_grid_path %></li>
      <% else %>
        <li class="change_view last"><%= link_to image_tag("icons/16x16/3x3_grid.png"), backlog_grid_path %></li>
      <% end %>
      <% if cookies[:backlog] == "list" %>
        <li class="change_view"><%= link_to image_tag("icons/16x16/align_just_bk.png"), backlog_list_path %></li>
      <% else %>
        <li class="change_view"><%= link_to image_tag("icons/16x16/align_just.png"), backlog_list_path %></li>
      <% end %>
    <% end %>
  </ul>
</div>

