<nav class="top-bar">
  <% if logged_in? && @account %>

  <ul>
    <!-- Title Area -->
    <li class="name">
      <h1>
        <%= link_to "Agileista", root_path %>
      </h1>
    </li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>

  <section>
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="has-dropdown">
        <%= link_to "Backlog", backlog_path %>
        <ul class="dropdown">
          <li><%= link_to "Add user story", new_user_story_path %></li>
          <li><%= link_to "View all stories", backlog_path %></li>
          <li><%= link_to "Export CSV", backlog_url(:format => 'csv') %></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown">
        <%= link_to "Sprints", sprints_path %>
        <ul class="dropdown">
          <li><%= link_to("Add sprint", new_sprint_path) %></li>
          <li><%= link_to "View all sprints", sprints_path %></li>
        </ul>
      </li>
      <li class="divider"></li>
      <% if current_sprint %>
        <li class="has-dropdown">
          <%= link_to "Task Board", sprint_path(current_sprint) %>
          <ul class="dropdown">
            <li><%= link_to("Add story to current sprint", new_sprint_user_story_url(current_sprint)) %></li>
          </ul>
        </li>
      <% end %>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <%= link_to(current_user.name, edit_user_url(current_user)) %>
        <ul class="dropdown">
          <li><label>Account</label></li>
          <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
          <li><%= link_to "Settings", account_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Logout", logout_path %></li>
        </ul>
      </li>
    </ul>
  </section>

  <% else %>

  <ul>
    <!-- Title Area -->
    <li class="name">
      <h1>
        <%= link_to "Agileista", root_path %>
      </h1>
    </li>
  </ul>

  <% end %>

</nav>
