<nav class="top-bar">
  <ul>
    <!-- Title Area -->
    <li class="name">
      <h1>
        <a href="#">
          Agileista
        </a>
      </h1>
    </li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>

  <% if logged_in? && @account %>

  <section>
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="has-dropdown">
        <%= link_to "Backlog", backlog_path %>
        <ul class="dropdown">
          <li><%= link_to "Add user story", new_user_story_path %></li>
          <li><%= link_to "View all stories", backlog_path %></li>
          <li><%= link_to "Export CSV", backlog_url(:format => 'csv') %></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to "Themes", themes_path %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to "Sprints", sprints_path %>
      </li>
      <li class="divider"></li>
      <% if current_sprint %>
        <li>
          <%= link_to "Task Board", sprint_path(current_sprint) %>
        </li>
      <% end %>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider show-for-medium-and-up"></li>
      <li class="has-dropdown">
        <%= link_to(current_user.name, edit_user_url(current_user)) %>
        <ul class="dropdown">
          <li><label>Account</label></li>
          <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
          <li><%= link_to "Settings", account_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Logout", logout_path %></li>
        </ul>
      </li>
    </ul>
  </section>

  <% end %>

</nav>
