<div class="secondary-navigation sprints clearfix">
  <ul>
    <li class="index first"><%= link_to "All sprints", :controller => "sprints" %></li>
    <%= content_tag(:li, link_to("Add sprint", new_sprint_url), :class => "add") if current_user.is_a?(TeamMember) %>
    <% if @sprint && !@sprint.new_record? %>
    <li class="show"><%= link_to 'Show', sprint_url(@sprint) %></li>
      <% if !@sprint.finished? && current_user.is_a?(TeamMember) %>
    <li class="plan"><%= link_to 'Plan', plan_sprint_url(@sprint) %></li>
    <li class="edit"><%= link_to 'Edit', edit_sprint_url(@sprint) %></li>
    <li class="delete"><%= link_to "Delete sprint", sprint_url(@sprint), :method => :delete, :confirm => confirmation_message("sprint", @sprint.name) %></li>
      <% end %>
    <% end %>
  </ul>
</div>

