<div class="row">
  <div class="columns large-24 small-24 medium-24">
    <% if params[:global] == 'true' %>
      <h2>Global search: <small><%= pagination_info(@user_stories, "user story").html_safe %></small><%= "<small>found for</small> <kbd>#{params[:q]}</kbd>".html_safe %> <%= link_to "search backlog only", project_search_path(@project, :q => "#{params[:q]}"), class: 'button tiny radius' %></h2>
    <% else %>
      <h2>Backlog search: <small><%= pagination_info(@user_stories, "user story").html_safe %></small><%= "<small>found for</small> <kbd>#{params[:q]}</kbd>".html_safe %> <%= link_to "search globally", project_search_path(@project, :q => "#{params[:q]}", :global => 'true'), class: 'button tiny radius' %></h2>
    <% end %>
  </div>
</div>

<% unless @user_stories.blank? %>

  <% if @user_stories.facets['tags']['terms'].any? %>
    <div class="row">
      <div class="columns large-24 small-24 medium-24">
        <dl class="sub-nav">
          <dt>Filter by tag:</dt>
          <% @user_stories.facets['tags']['terms'].each do |tag_facet| %>
            <dd><%= link_to "#{tag_facet['term']}", project_search_path(@project, :q => "#{params[:q]} AND tag:#{tag_facet['term']}", :global => params[:global]) %> (<%= tag_facet['count'] %>)</dd>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="columns large-24 small-24 medium-24" id="search-results-container">
      <%= render @user_stories %>
    </div>
  </div>
  <div class="row">
    <div class="columns large-10 small-10 medium-10">
      <p><%= will_paginate @user_stories %></p>
    </div>
  </div>

<% else %>

  <div class="row">
    <div class="columns large-10 small-10 medium-10">
      <h3>No stories found</h3>
    </div>
  </div>

<% end %>
