<div class="row">
  <div class="six columns centered">
    <%= form_tag({:action => 'authenticate'}, :class => 'form-signin') %>
      <h2>Please login</h2>
      <%= text_field_tag "email", params[:email], :class => 'input-block-level', :placeholder => 'Email address' %>

      <%= password_field_tag "password", nil, :class => 'input-block-level', :placeholder => 'Password' %>
      <%= button_tag "Login", :class => 'button' %>
      <%= link_to 'I forgot my password', login_forgot_path %>
    </form>
  </div>
</div>
