<div id="main">
  <div class="block">
    <%= render(:partial => "shared/navigation/account_secondary") %>

    <div class="content">
      <h2 class="title">Account settings</h2>
      <div class="inner form">
        <div class="columns clearfix">

          <div class="column left">
            <%= form_tag({:action => 'change_password', :id => session[:user]}, {:class => "form"}) %>
              <div class="group">
                <label for="old_password" class="label">Old password</label>
                <%= password_field_tag 'old_password', nil, :class => "text_field" %>
              </div>

              <div class="group">
                <label for="new_password" class="label">New password</label>
                <%= password_field_tag 'new_password', nil, :class => "text_field" %>
              </div>

              <div class="group">
                <label for="new_password_confirmation" class="label">Confirm new password</label>
                <%= password_field_tag 'new_password_confirmation', nil, :class => "text_field" %>
              </div>

              <div class="group">
                <%= submit_tag 'Change password' %>
              </div>
            </form>
          </div>

          <% if current_user.account_holder? %>
          <div class="column right">
          	<% form_for :account, @account, :url => {:action => 'settings'} do |a| %>
          		<div class="group">
          		  <label for="account_iteration_length" class="label">Sprint iteration length:</label>
                <%= a.select :iteration_length, [["1 week", 1], ["2 weeks", 2], ["3 weeks", 3], ["4 weeks", 4]], :include_blank => true, :class => "select" %>
              </div>
              <div class="group">
          		  <%= submit_tag "Change iteration length" %>
          		</div>
          	<% end %>
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
  <%= render(:partial => "shared/footer") %>
</div>

<% if current_user.account_holder? %>
<div id="sidebar">
  <% if @account.errors.size > 0 %>
  <div class="block notice errors">
    <%= error_messages_for :account, :header_tag => "h4", :header_message => "Crikey!", :message => nil %>
  </div>
  <% end %>
</div>
<% end %>

