<h2>Account Settings</h2>
<div class="row">
  <div class="columns six">
    <%= simple_form_for @user, url: account_change_password_path, method: :put do |f| %>
      <%= f.input :old_password %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.button :submit, "Change password" %>
    <% end %>
  </div>

  <div class="columns six end">
    <%= simple_form_for @account, url: account_settings_path do |f| %>
      <p><%= f.input :iteration_length, as: :select, collection: [["1 week", 1], ["2 weeks", 2], ["3 weeks", 3], ["4 weeks", 4]] %></p>
      <%= f.button :submit, "Set iteration length" %>
    <% end %>

    <hr>

    <%= form_tag({:action => 'generate_api_key'}, {:class => 'form'}) %>
      <label>Api Key</label>
      <p><%= current_user.api_key || "No api key" %></p>
      <%= button_tag "Generate api key", :class => 'button' %>
    </form>
  </div>
</div>
