<% content_for :title, "Agileista - Online collaboration for distributed Scrum teams" %>

<div class="row">
  <div class="sixteen columns centered">
    <h1 class="text-center">Agileista<br><small>Online collaboration for distributed Scrum teams</small></h1>
  </div>
</div>

<!-- Content Slider -->

<div class="row">
  <div class="sixteen columns centered hide-for-small">

    <div id="featured">
      <%= image_tag 'about/backlog.png', :class => 'orbit-slide' %>
      <%= image_tag 'about/new_user_story.png', :class => 'orbit-slide' %>
      <%= image_tag 'about/search_results.png', :class => 'orbit-slide' %>
      <%= image_tag 'about/sprints.png', :class => 'orbit-slide' %>
      <%= image_tag 'about/task_board.png', :class => 'orbit-slide' %>
    </div>

  </div>
</div>

<div class="row">
  <div class="sixteen columns centered">
    <blockquote class="panel">
      <h3>Agileista has evolved through running several projects across many distributed Scrum teams over the past six years.</h3>
      <cite>Levent Ali, Agileista</cite>
    </blockquote>
  </div>
</div>

<div class="row">
  <div class="sixteen columns offset-by-four">
  </div>
</div>

<div class="row">
  <div class="eight columns centered text-center">
    <h3>What Agileista Provides</h3>
    <ul class="none">
      <li>An ordered backlog</li>
      <li>User stories with acceptance criteria</li>
      <li>Story points</li>
      <li>Sprint planning</li>
      <li>Velocity calculation</li>
      <li>Basic horizon planning</li>
      <li>Pair programming support</li>
      <li>Simple task board</li>
      <li>Burn charts</li>
      <li>No hour tracking on tasks</li>
      <li>HipChat integration</li>
    </ul>
    <%= link_to 'Try it out free!', new_person_registration_path, :class => "large radius button" %>
  </div>
</div>

<% content_for :custom_js do %>
  $('#featured').orbit({ fluid: '2x1' });
<% end %>
