<% content_for :title, "Agileista - Online collaboration for distributed Scrum teams" %>

<% cache do %>
  <div class="row">
    <div class="large-16 small-16 medium-16 columns large-centered">
      <h1 class="text-center">Agileista<br><small>Online collaboration for distributed Scrum teams</small></h1>
    </div>
  </div>

  <!-- Content Slider -->

  <div class="row">
    <div class="large-16 small-16 medium-16 columns large-centered hide-for-small">

      <ul id="featured" data-orbit>
        <li><%= image_tag 'about/backlog.png', :class => 'orbit-slide' %></li>
        <li><%= image_tag 'about/new_user_story.png', :class => 'orbit-slide' %></li>
        <li><%= image_tag 'about/search_results.png', :class => 'orbit-slide' %></li>
        <li><%= image_tag 'about/sprints.png', :class => 'orbit-slide' %></li>
        <li><%= image_tag 'about/task_board.png', :class => 'orbit-slide' %></li>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="large-12 small-12 medium-12 columns large-centered">
        <h3 class="about-quote">Agileista has evolved through running several projects across many distributed Scrum teams over the past six years</h3>
    </div>
  </div>

  <div class="row">
    <div class="large-16 small-16 medium-16 columns large-offset-4">
    </div>
  </div>

  <div class="row">
    <div class="large-8 small-8 medium-8 columns large-centered text-center">
      <h3>What Agileista Provides</h3>
      <ul class="none">
        <li>An ordered backlog</li>
        <li>User stories with acceptance criteria</li>
        <li>Story points</li>
        <li>Sprint planning</li>
        <li>Velocity calculation</li>
        <li>Basic horizon planning</li>
        <li>Pair programming support</li>
        <li>Simple task board</li>
        <li>Burn charts</li>
        <li>No hour tracking on tasks</li>
        <li>HipChat integration</li>
        <li>Planning poker</li>
      </ul>
      <%= link_to 'Try it out free!', new_person_registration_path, :class => "large radius button" %>
    </div>
  </div>
<% end %>
