<h2 class="hide-for-medium-down"><small>Unassigned Backlog:</small> <%= pluralize(@user_stories.length, "user story") %> <small>worth</small> <%= show_story_points(@story_points ||= nil) %></strong> <small>(Average velocity: <%= average_velocity(@project) %></strong>)</small> <%= image_tag "ajax-loader.gif", :style => "display:none", :id => "loading" %></h2>
<h2 class="show-for-medium-down">Backlog</h2>

<div class="row">
  <div class="columns twentyfour">
    <dl class="sub-nav">
      <dd class="active"><a href="#" class="js-backlog-filter" data-filter="all">All</a></dd>
      <dd><a class="js-backlog-filter filter-clarify" data-filter="clarify" href="">Clarify</a></dd>
      <dd><a class="js-backlog-filter filter-criteria" data-filter="criteria" href="">Criteria</a></dd>
      <dd><a class="js-backlog-filter filter-estimate" data-filter="estimate" href="">Estimate</a></dd>
      <dd><a class="js-backlog-filter filter-plan" data-filter="plan" href="">Plan</a></dd>
    </dl>
    <div id="backlog-items" data-project="<%= @project.id %>">
      <%= render @user_stories %>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="columns twentyfour" id="backlog-items" data-project="<%= @project.id %>">
    <p><span class="label">Clarify</span> Cannot be estimated</p>
    <p><span class="label alert">Criteria</span> Acceptance criteria required</p>
    <p><span class="label secondary">Estimate</span> Needs estimation</p>
    <p><span class="label success">Plan</span> Ready to plan</p>
  </div>
</div>

<% if @user_stories.empty? %>
  <p><%= link_to 'Create your first user story', new_project_user_story_path(@project) %></p>
<% end %>

<% content_for :custom_js do %>
  Agileista.setupVelocityMarkers('<%= @velocity %>');
  <%= render :partial => 'juggernaut', :locals => {:uid => @uid} %>
<% end %>
