<div id="main">
  <div class="block">
    <%= render(:partial => "shared/navigation/backlog_secondary") %>

    <div class="content">
      <h2 class="title">Unassigned Backlog: <strong class="hightlight"><%= pluralize(@user_stories.length, "user story") %></strong> worth <strong class="hightlight"><%= show_story_points(@story_points ||= nil) %></strong>.</h2>
      <div id="user_stories" class="clearfix">
        <% @user_stories.each do |user_story| %>
          <%= render :partial => '/user_stories/user_story', :locals => {:user_story => user_story} %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render(:partial => "shared/footer") %>
</div>

<div id="sidebar">
  <div class="block color-scheme">
    <h3>Color scheme</h3>
    <ul class="navigation">
      <li class="plan">Ready to be planned</li>
      <li class="estimate">Require estimation</li>
      <li class="criteria">Lack acceptance criteria</li>
      <li class="clarify">Cannot be estimated by the team</li>
    </ul>
  </div>
</div>

