<div id="main" class="wide">
  <div class="block">
    <%= render(:partial => "shared/navigation/backlog_secondary") %>

    <div class="content">
      <h2 class="title">Unassigned Backlog: <strong class="highlight"><%= pluralize(@user_stories.length, "user story") %></strong> worth <strong class="highlight"><%= show_story_points(@story_points ||= nil) %></strong> <%= image_tag "ajax-loader.gif", :style => "display:none", :id => "loading" %></h2>
      <% if params[:filter] == 'stale' %>
        <h2>Only showing stale user stories (at least <%= time_ago_in_words(@how_stale) %> old)</h2>
      <% end %>
      <div id="user_stories" class="clearfix">
        <% @user_stories.each do |user_story| %>
          <%= render :partial => '/user_stories/user_story', :locals => {:user_story => user_story} %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render(:partial => "shared/footer") %>
</div>
<% content_for :custom_js do %>
  <%= render :partial => 'juggernaut', :locals => {:uid => @uid} %>
<% end %>
