<div id="main" class="wide">
  <div class="block">
    <%= render(:partial => "shared/navigation/backlog_secondary") %>

    <div class="content">
      <h2 class="title">Unassigned Backlog: <strong class="highlight"><%= pluralize(@user_stories.length, "user story") %></strong> worth <strong class="highlight"><%= show_story_points(@story_points ||= nil) %></strong> <span class="small">(Average velocity: <strong class="highlight"><%= average_velocity(@account) %></strong>)</span> <%= image_tag "ajax-loader.gif", :style => "display:none", :id => "loading" %></h2>
      <div id="user_stories" class="clearfix">

        <table class="table">
          <thead>
            <tr>
              <th class="state">State</th>
              <th class="id">ID</th>
              <th class="description">Description</th>
              <th class="points">Points</th>
              <th class="stakholder">Stakeholder</th>
              <th class="actions last"></th>
            </tr>
          </thead>
          <tbody>
            <%= render :partial => "/user_stories/user_story_row", :collection => @user_stories %>
            <% reset_cycle("user_stories")%>
          </tbody>
        </table>
        <p>&nbsp;</p>
      </div>

    </div>

  </div>


  <%= render(:partial => "shared/footer") %>
</div>
<% content_for :custom_js do %>
  Agileista.setupVelocityMarkers('<%= @velocity %>');
  <%= render :partial => 'juggernaut', :locals => {:uid => @uid} %>
<% end %>
