<h2><%= pagination_info(@user_stories, "user story").html_safe %> <%= "found for '<strong>#{params[:q]}</strong>'".html_safe if params[:q] %><%= "tagged with '<strong>#{params[:tag]}</strong>'".html_safe if params[:tag] %>.</h2>

<% unless @user_stories.blank? %>

  <div class="row">
    <div class="columns twentyfour" id="backlog-items">
      <%= render @user_stories %>
    </div>
  </div>
  <div class="row">
    <div class="columns ten">
      <p><%= will_paginate @user_stories %></p>
    </div>
  </div>

<% else %>

  <p>No stories found<p>

<% end %>
