<div id="navii"><% if @current_user.is_a?(Contributor) -%><%= link_to "Add a user story", :controller => 'user_stories', :action => "add" %><% elsif @current_user.is_a?(TeamMember) %><%= link_to "Add a user story", :controller => 'user_stories', :action => "new" %><% end -%></div>
<div id="main" class="wide">
	<h1><%= "User stories found for '#{params[:q]}'" if params[:q] %><%= "User stories tagged with '#{params[:tag]}" if params[:tag] %> - <span class="small"><%= pluralize(@user_stories.total_entries, "user story") %></span></h1>
	<table>
		<thead>
			<tr>
				<th>State</th>
				<th>Story</th>
				<th>Story Points</th>
				<th>Stakeholder</th>
			</tr>
		</thead>
		<tbody>
		<% @user_stories.each do |us| %>
			<%= render :partial => 'user_story_row', :locals => {:us => us} %>
		<% end %>
		</tbody>
	</table>
	<p><%= will_paginate @user_stories, :params => {:q => params[:q]} %></p>
</div>