<div class="row">
  <div class="columns twenty">
    <h2><%= pagination_info(@user_stories, "user story").html_safe %> <%= "found for: <kbd>#{params[:q]}</kbd>".html_safe if params[:q] %></h2>
  </div>
  <div class="columns four end text-right">
    <a href="#" class="button small" data-reveal-id="myModal">Search help</a>
  </div>
</div>


<% unless @user_stories.blank? %>

  <div class="row">
    <div class="columns twentyfour">
      <%= render @user_stories %>
    </div>
  </div>
  <div class="row">
    <div class="columns ten">
      <p><%= will_paginate @user_stories %></p>
    </div>
  </div>

<% else %>

  <div class="row">
    <div class="columns ten">
      <h3>No stories found</h3>
    </div>
  </div>

<% end %>

<%= render :partial => 'search_tips' %>
