<div class="row">
  <div class="columns twenty">
    <h2>Backlog search: <small><%= pagination_info(@user_stories, "user story").html_safe %> </small><%= "<small>found for</small> <kbd>#{params[:q]}</kbd>".html_safe %></h2>
  </div>
  <div class="columns four end text-right hide-for-small">
    <a href="#" class="button small" data-reveal-id="myModal">Search help</a>
  </div>
</div>


<% unless @user_stories.blank? %>

  <div class="row">
    <div class="columns twentyfour">
      <dl class="sub-nav">
        <dt>Filter by tag:</dt>
        <% @user_stories.facets['tags']['terms'].each do |tag_facet| %>
          <dd><%= link_to "#{tag_facet['term']}", search_project_backlog_index_path(@project, :q => "#{params[:q]} AND tag:#{tag_facet['term']}") %> (<%= tag_facet['count'] %>)</dd>
        <% end %>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="columns twentyfour">
      <%= render @user_stories %>
    </div>
  </div>
  <div class="row">
    <div class="columns ten">
      <p><%= will_paginate @user_stories %></p>
    </div>
  </div>

<% else %>

  <div class="row">
    <div class="columns ten">
      <h3>No stories found</h3>
    </div>
  </div>

<% end %>

<%= render :partial => 'search_tips' %>
