<div id="main" class="wide">
	<h1>Accounts:</h1>
	<table id="accounts">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Members</th>
	      <th>Account Holder</th>
	      <th>Created</th>
	      <th>Total User Stories</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @accounts.each do |account| -%>
		  <tr>
		    <td><%= account.name %></td>
		    <td><%= account.people.count %></td>
		    <td><%= account.account_holder.name %> <%= account.account_holder.email %></td>
		    <td><%= show_date(account.created_at) %></td>
		    <td><%= account.user_stories.count %></td>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
	<%= will_paginate @accounts %>
</div>