<h2><%= pagination_info(@user_stories, "user story").html_safe %> <%= "found for '<strong>#{params[:q]}</strong>'".html_safe if params[:q] %></h2>

<%= form_for :tag, url: console_search_path, html: {method: "get", id: "search_form", class: ""} do |t| %>
  <div class="row">
    <div class="columns large-20 small-20 medium-20">
      <%= text_field_tag 'q' %>
    </div>
    <div class="large-4 small-4 medium-4 columns">
      <%= button_tag 'Search', class: "submit secondary button" %>
    </div>
  </div>
<% end %>

<% unless @user_stories.blank? %>

  <div class="row">
    <div class="columns large-24 small-24 medium-24">
      <% @user_stories.each do |user_story| %>
        <div class="row backlog-item backlog-row" data-story=<%= user_story.id %> data-status="<%= user_story.state %>">
          <div class="large-4 small-4 medium-4 columns">
            <div class="row">
              <div class="large-12 small-12 medium-12 columns"><%= user_story_state(user_story.state) %></div>
              <div class="large-12 small-12 medium-12 columns">#<%= user_story.id %></div>
            </div>
          </div>
          <div class="large-14 small-14 medium-14 columns">
            <%= user_story.definition %> (<%= show_stakeholder(user_story) %>)
          </div>
          <div class="large-1 small-1 medium-1 columns">
            <%= show_story_points(user_story.story_points, badge: true, unit: "") %>
          </div>
          <div class="large-3 small-3 medium-3 columns">
            <%= user_story.project.try(:name) %>
          </div>
          <div class="large-2 small-2 medium-2 columns hide-for-medium-down">
            <abbr class="timeago" title="<%= user_story.created_at.getutc.iso8601 %>">
              <%= user_story.created_at.to_s %>
            </abbr>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="columns large-10 small-10 medium-10">
      <p><%= will_paginate @user_stories %></p>
    </div>
  </div>

<% else %>

  <div class="row">
    <div class="columns large-10 small-10 medium-10">
      <h3>No stories found</h3>
    </div>
  </div>

<% end %>
