<h2><%= pagination_info(@user_stories, "user story").html_safe %> <%= "found for '<strong>#{params[:q]}</strong>'".html_safe if params[:q] %></h2>

<%= form_for :tag, :url => console_search_path, :html => {:method => "get", :id=> "search_form", :class => ""} do |t| %>
  <div class="row">
    <div class="columns twenty">
      <%= text_field_tag 'q' %>
    </div>
    <div class="columns four">
      <%= button_tag 'Search', :class => "submit secondary button" %>
    </div>
  </div>
<% end %>

<% unless @user_stories.blank? %>

  <div class="row">
    <div class="columns twentyfour">
      <% @user_stories.each do |user_story| %>
        <div class="row backlog-item backlog-row" data-story=<%= user_story.id %> data-status="<%= user_story.state %>">
          <div class="four columns">
            <div class="row">
              <div class="twelve columns"><%= user_story_state(user_story.state) %></div>
              <div class="twelve columns">#<%= user_story.id %></div>
            </div>
          </div>
          <div class="fourteen columns">
            <%= user_story.definition %> (<%= show_stakeholder(user_story) %>)
          </div>
          <div class="one columns">
            <%= show_story_points(user_story.story_points, :badge => true, :unit => "") %>
          </div>
          <div class="three columns">
            <%= user_story.project.try(:name) %>
          </div>
          <div class="two columns hide-for-medium-down" title="<%= time_ago_in_words(user_story.created_at) %> ago">
            <%= user_story.created_at.strftime("%d/%m/%y") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="columns ten">
      <p><%= will_paginate @user_stories %></p>
    </div>
  </div>

<% else %>

  <div class="row">
    <div class="columns ten">
      <h3>No stories found</h3>
    </div>
  </div>

<% end %>
