<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Agileista - Scrum collaboration software; written for developers by developers</title>
  <meta name="author" content="Agileista" />
  <meta name="description" content="Agile workflow application" />
  <meta name="keywords" content="agile, scrum" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <%= stylesheet_link_tag "application" %>
  <!--[if IE]><link href="/stylesheets/ie.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

  <!-- %= stylesheet_link_tag    "application", :media => "all" % -->
  <%= csrf_meta_tag %>
</head>
<body id="agileista" class="<%= page_signature %>">
  <div id="notification-bar"><a href="#" data-target="#notification-bar" class="close-bar">×</a><div class="content"></div></div>
  <article id="keyboard-help">
    <h2>Keyboard shortcuts:</h2>
    <ul>
      <li>c - compose new user story</li>
      <li>? - show this help</li>
      <li>esc - hide this help</li>
    </ul>
  </article>
<div id="container">

  <header class="main-header clearfix">
    <% if logged_in? && @account -%>
      <%= render :partial => 'shared/account_switcher', :locals => {:other_accounts => @other_accounts, :account => @account} %>
      <nav class="main-nav">
        <%= main_navigation %>
      </nav>
      <%= form_for :tag, :url => {:controller => :backlog, :action => 'search'}, :html => {:method => "get", :id=> "search_form", :class => ""} do |t| %>
        <%= text_field_tag 'q' %><%= submit_tag 'Search', :class => "submit" %>
      <% end %>
      <nav class="user-nav">
        <%= user_navigation %>
      </nav>
      <%= link_to(image_tag(current_user.gravatar_url(:rating => 'G', :size => 40, :secure => true)), edit_user_url(current_user), :id => "main-gravatar") %>
    <% end -%>
  </header>

  <%= flash_messages("p") %>

  <% unless logged_in? && @account -%>
    <div id="header" class="clearfix">
      <div class="clearfix">
        <h1>Welcome to Agileista</h1>
      </div>
    </div>
  <% end -%>

  <div class="c"></div>

  <div id="wrapper" class="clearfix">
    <%= yield %>
  </div>

  <%= render(:partial => "shared/javascripts") %>

  <%= render(:partial => "shared/google_analytics") %>

</div>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" charset="utf-8">
    <%= yield :custom_js %>
  </script>
</body>
</html>

