<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "Agileista" %></title>

	<!-- Included CSS Files -->
	<%= stylesheet_link_tag "application", media: "all" %>

  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/voz6jxm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <%= render :partial => 'shared/navigation/main' -%>
  <div class="row">
    <div class="twentyfour columns" id="main-wrapper-div">

      <% if flash[:alert] %>
        <div class="alert-box alert">
          <%= flash[:alert] %><a href="" class="close">&times;</a>
        </div>
      <% end %>

      <% if flash[:error] %>
        <div class="alert-box alert">
          <%= flash[:error] %><a href="" class="close">&times;</a>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert-box">
          <%= flash[:notice] %><a href="" class="close">&times;</a>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </div>

  <%= render :partial => 'shared/search_tips' if person_signed_in_and_project? %>

  <%= render(:partial => "shared/footer") %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" charset="utf-8">
    <%= yield :custom_js %>
  </script>
  <%= render(:partial => "shared/google_analytics") %>
</body>
</html>
