<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Agileista - Scrum collaboration software; written for developers by developers</title>
  <meta name="author" content="Agileista" />
  <meta name="description" content="Agile workflow application" />
  <meta name="keywords" content="agile, scrum" />
  <link rel="home" href="http://<%= "#{request.host_with_port}" %>" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="alternate" type="application/atom+xml" title="Backlog Feed" href="<%= backlog_url(:format => :atom) %>">
  <%= stylesheet_link_tag "application" %>
  <!--[if IE]><link href="/stylesheets/ie.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

  <!-- %= stylesheet_link_tag    "application", :media => "all" % -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="agileista" class="<%= page_signature %>">
  <div id="notification-bar"><a href="" class="close-bar">×</a></div>
<div id="container">

  <!-- HEADER >>> -->
  <div id="header" class="clearfix">
  <% if logged_in? && @account -%>
    <div class="clearfix">
      <h1 class="left"><%= link_to "Agileista", :controller => "backlog" %></h1>
      <%= render :partial => 'shared/account_switcher', :locals => {:other_accounts => @other_accounts, :account => @account} %>

      <% form_for :tag, :url => {:controller => :backlog, :action => 'search'}, :html => {:method => "get", :id=> "search_form", :class => "left"} do |t| %>
        <%= text_field_tag 'q' %><%= submit_tag 'Search', :class => "submit" %>
      <% end %>

      <%= link_to(image_tag(current_user.gravatar_url(:rating => 'G', :size => 40, :secure => true)), edit_user_url(current_user), :class => "gravatar right") %>
      <%= flash_messages("p") %>
    </div>
    <div id="user-navigation" class="clearfix main-navigation">
      <%= user_navigation.html_safe %>
    </div>

    <div class="clearfix main-navigation">
      <%= main_navigation.html_safe %>
    </div>

  <% else %>
    <div class="clearfix">
      <h1>Welcome to Agileista</h1>
      <%= flash_messages("p") %>
    </div>
  <% end -%>
  </div>
  <!-- <<< header -->

  <div class="c"></div>

  <div id="wrapper" class="clearfix">
    <%= yield %>
  </div>

  <%= render(:partial => "shared/javascripts") %>
  <%= yield :custom_js %>
  <%= render(:partial => "shared/google_analytics") %>

</div>
</body>
</html>

