<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Agileista - Scrum collaboration software; written for developers by developers</title>
  <meta name="author" content="Agileista" />
  <meta name="description" content="Agile workflow application" />
  <meta name="keywords" content="agile, scrum" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <%= stylesheet_link_tag "application" %>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= csrf_meta_tag %>
</head>
<body id="agileista" class="<%= page_signature %>">

  <% if logged_in? && @account -%>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div class="row">
            <div class="span12">
              <%= form_for :tag, :url => {:controller => :backlog, :action => 'search'}, :html => {:method => "get", :id=> "search_form", :class => ""} do |t| %>
                <%= text_field_tag 'q' %><%= submit_tag 'Search', :class => "submit" %>
              <% end %>
            </div>
          </div>

          <%= render :partial => 'shared/account_switcher', :locals => {:other_accounts => @other_accounts, :account => @account} %>
          <div class="nav-collapse collapse">
            <%= link_to(image_tag(current_user.gravatar_url(:rating => 'G', :size => 40, :secure => true, :default => asset_path('default_avatar.png'))), edit_user_url(current_user), :id => "main-gravatar") %>
            <%= user_navigation %>
            <%= main_navigation %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  <% else %>
    <div id="header" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Welcome to Agileista</a>
          <p class="navbar-text pull-right">Online collaboration for Scrum teams</p>
        </div>
      </div>
    </div>
  <% end -%>

  <div class="container">
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>

  </div>


  <div id="notification-bar"><a href="#" data-target="#notification-bar" class="close-bar">×</a><div class="content"></div></div>
<div id="container">

  <header class="main-header clearfix">
  </header>

  <%= flash_messages("p") %>


  <%= render(:partial => "shared/javascripts") %>

  <%= render(:partial => "shared/google_analytics") %>

</div>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" charset="utf-8">
    <%= yield :custom_js %>
  </script>
</body>
</html>

